body{
  background-color: LightGoldenRodYellow;
  font-family: "arial";
}

.header h1{
  font-size: 40px;
  font-weight: 700;
  color: Black;
  /*gives margins clockwise rotation*/
  margin: 70px 50px 70px 50px;
}

.aboutMe h3{
  font-size: 18px;
  font-weight: 400;
  color: #4f4f4f;
  padding: 0px 0px 0px 0px;
  margin: 30px 70px 0px 70px;
}

.aboutMe .link{
  font-size: 18px;
  font-weight: 400;
  color: #4f4f4f;
  text-decoration: underline;
  margin: 0px 70px 30px 70px;
}

.line{
  border-top: 2px solid #2b2b2b;
  padding: 0px 300px 0px 0px; 
  margin: 20px 0px 60px 10px
}

.projects-title{
  font-size: 30px;
  font-weight: 600;
  color: Black;
  margin: 0px 30px 30px 50px;
}
.project-name{
  font-size: 15px;
  font-weight: 400;
  color: #4f4f4f;
  text-decoration: underline;
  margin: 5px 10px 10px 70px;

}

.project-img{
  /* round off corners of project images */
 border-radius: 25px; 
}

