body{
  background-color: #deffdf;
  font-family: "arial";
}

main{
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 250px;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  grid-auto-rows: 250px;
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  grid-auto-flow: row;
}

.header h1{
  font-size: 40px;
  font-weight: 700;
  color: Black;
  /*gives margins clockwise rotation*/
  margin: 70px 50px 70px 50px;
}

.aboutMe h3{
  font-size: 18px;
  font-weight: 400;
  color: #4f4f4f;
  padding: 0px 0px 0px 0px;
  margin: 30px 70px 0px 70px;
}

.aboutMe .link{
  font-size: 18px;
  font-weight: 400;
  color: #4f4f4f;
  text-decoration: underline;
  margin: 0px 70px 30px 70px;
}

.line{
  border-top: 2px solid #2b2b2b;
  padding: 0px 300px 0px 0px; 
  margin: 20px 0px 60px 10px
}

.projects{
  width: 150px;
}

.projects-title{
  font-size: 30px;
  font-weight: 600;
  color: Black;
  margin: 0px 30px 30px 50px;
}
.project-name{
  font-size: 15px;
  font-weight: 400;
  color: #4f4f4f;
  text-decoration: underline;
  margin: 5px 0px 10px 0px;
  display: block;
}

.future-project-name{
  font-size: 15px;
  font-weight: 400;
  color: #4f4f4f;
  margin: 5px 0px 10px 0px;
  display: block;
}

.project-img{
  /* round off corners of project images */
 border-radius: 25px; 
 height: 150px;
 width:150px;
}

