body{
  background-color: #242423;
  font-family: "arial";
}

h1{
  font-size: 40px;
  font-weight: 700;
  color: White;
  /*gives margins clockwise rotation*/
  margin: 50px 30px 50px 30px;
}

h2{
  font-size: 24px;
  font-weight: 600;
  color: white;
  /*gives margins clockwise rotation*/
  margin: 50px 30px 20px 30px;
}

a{
  font-size: 16px;
  font-weight: 400;
  color: #cccccc;
  text-decoration: underline;
  margin: 20px 30px 20px 30px;
}

p{
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin: 20px 30px 30px 30px;
}
